@font-face {
  font-family: 'druid-epub-icons';
  src: url('../font/druid-epub-icons.eot?65738337');
  src: url('../font/druid-epub-icons.eot?65738337#iefix') format('embedded-opentype'),
       url('../font/druid-epub-icons.woff2?65738337') format('woff2'),
       url('../font/druid-epub-icons.woff?65738337') format('woff'),
       url('../font/druid-epub-icons.ttf?65738337') format('truetype'),
       url('../font/druid-epub-icons.svg?65738337#druid-epub-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'druid-epub-icons';
    src: url('../font/druid-epub-icons.svg?65738337#druid-epub-icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "druid-epub-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-list-bullet:before { content: '\a000'; } /* 'ꀀ' */
.icon-search:before { content: '\a001'; } /* 'ꀁ' */
.icon-floppy:before { content: '\a002'; } /* 'ꀂ' */
.icon-edit:before { content: '\a003'; } /* 'ꀃ' */
.icon-pencil:before { content: '\a004'; } /* 'ꀄ' */
.icon-doc-text:before { content: '\a005'; } /* 'ꀅ' */
.icon-book-open:before { content: '\a006'; } /* 'ꀆ' */
.icon-attach:before { content: '\e803'; } /* '' */
