
.icon-list-bullet:before { content: '\a000'; } /* 'ꀀ' */
.icon-search:before { content: '\a001'; } /* 'ꀁ' */
.icon-floppy:before { content: '\a002'; } /* 'ꀂ' */
.icon-edit:before { content: '\a003'; } /* 'ꀃ' */
.icon-pencil:before { content: '\a004'; } /* 'ꀄ' */
.icon-doc-text:before { content: '\a005'; } /* 'ꀅ' */
.icon-book-open:before { content: '\a006'; } /* 'ꀆ' */
.icon-attach:before { content: '\e803'; } /* '' */
